# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
fourm/src/main/resources/rebel-remote.xml
fourm/src/main/webapp/WEB-INF/attachments/
fourm/target/
servlet-api-3.0.1/src/main/java/rebel-remote.xml
servlet-api-3.0.1/target/
spring-web/src/main/resources/rebel-remote.xml
spring-web/target/
spring-webmvc/src/main/resources/rebel-remote.xml
spring-webmvc/target/
target/
rebel.xml
